## Strings
======= Part-1 =========
- How to initialize the strings
- in built functions
    - type
    - print
    - len
    - max
    - min
    - reversed
    - sorted
- index operation
- concatination
- mutable vs immutable
- slicing

======== Part-2 =========
- string methods

**Initialization**
- Strings represented with single quotes
- Strings represented with double quotes
- Strings represented with triple quotes
- When you print a string, the output shows as without quotes
- A string represents with triple quotes : **Doc Sting**
- If you want to highligh any word in entire string
    - provide the entire string in double quotes and highlight the word with single quotes and vice versa

In [2]:
a = "Hi"
b = 'Hi'
c = '''Hello
How are you
Hope you doing well'''
print(a,b,c)
d = "A cow says - 'MOO'"
print(d)

Hi Hi Hello
How are you
Hope you doing well
A cow says - 'MOO'

**Some inbuilt functions**

In [3]:
max("python")
min("python")
len("python")
print("Python")
type("Python")
reversed("Python")
sorted("python")

Python

['h', 'n', 'o', 'p', 't', 'y']

In [8]:
max("Python")

'y'

In [22]:
min("python")

'h'

In [10]:
len("Python")

6

In [11]:
print("Python")

Python

In [12]:
type("Python")

str

In [20]:
reversed("Python")

In [16]:
sorted("Python")

['P', 'h', 'n', 'o', 't', 'y']

**Sorted**
- sorted means sorting of letters based on ascii number
- there are two possible strings available
    - ascending: small to high
    - descending: high to small

- when you apply the shift tab
- there is some arguements will be available
- focus on two strings
    - iterable
    - reverse = False
- because reverse is a default arguments by default ascending order is coming
- if you want to change the order then change the default parameter value

In [23]:
sorted("Python", reverse=True)

['y', 't', 'o', 'n', 'h', 'P']

In [29]:
sorted("Python", reverse=True)

['y', 't', 'o', 'n', 'h', 'P']

- we should not allowed to use iterable argument name while providing the value
- we should use the argument names while provide the value after '/'
- we should not use the argument names before '/'
    - iterable argument name is there before '/'
    - so do not use iterable name

- any function indicates * means
- you can use any variable after *
- after * there are two arguments are there
    - key
    - reverse
- you can use both
- you can use anyone
- you no need to use anything

In [30]:
sorted("Hello") # Works
sorted(iterable="Hello") # Fails

TypeError: sorted expected 1 argument, got 0

In [32]:
sorted("Hello", reverse=True)

['o', 'l', 'l', 'e', 'H']

In [33]:
sorted("Hello", key=len)

['H', 'e', 'l', 'l', 'o']

In [34]:
sorted("Hello", reverse=True, key=len)

['H', 'e', 'l', 'l', 'o']

**reversed**

In [36]:
str1="python"
ans=reversed(str1)

In [37]:
type(ans)

reversed

In [38]:
reversed(str1)
# the output is stored in a memory location
# whenever you want to see the output
# use a list or for loop

In [39]:
list(ans)

['n', 'o', 'h', 't', 'y', 'p']

In [41]:
str1='python'
ans=reversed(str1)
for i in ans:
    print(i)

n
o
h
t
y
p

**concatenation**

In [42]:
str1 = "hello"
str2 = "python"
str1+str2
str1*str2
str1-str2
str1/str2

TypeError: can't multiply sequence by non-int of type 'str'

**index**

In [43]:
str1="python"
# -6  -5  -4  -3  -2  -1
# 'p' 'y' 't' 'h' 'o' 'n'
#  0   1   2   3   4   5

In [45]:
str1[0], str1[-1]

('p', 'n')

In [1]:
str1='hello python'

In [3]:
# -12 -11 -10 -9 -8 -7 -6 -5 -4 -3 -2 -1
#  h   e   l   l  o     p  y  t  h  o  n
#  0   1   2   3  4  5  6  7  8  9 10  11
str1[0]
str1[1]
str1[2]

str[i] # i is a number i=0 and ends with i=5

NameError: name 'i' is not defined

In [7]:
str1 = "python"
for i in range(len(str1)):
    print(i,str1[i])
# i=0  str1[0]  p
# i=1  str1[1]  y ....

0 p
1 y
2 t
3 h
4 o
5 n

In [8]:
str1 = "python hello"
for i in range(len(str1)):
    print(f"The positive index of {str1[i]} is : {i}")

The positive index of p is : 0
The positive index of y is : 1
The positive index of t is : 2
The positive index of h is : 3
The positive index of o is : 4
The positive index of n is : 5
The positive index of   is : 6
The positive index of h is : 7
The positive index of e is : 8
The positive index of l is : 9
The positive index of l is : 10
The positive index of o is : 11

In [9]:
n=len(str1)
for i in range(n):
    print(f"The negative index of {str1[i]} is : {i-n}")

The negative index of p is : -12
The negative index of y is : -11
The negative index of t is : -10
The negative index of h is : -9
The negative index of o is : -8
The negative index of n is : -7
The negative index of   is : -6
The negative index of h is : -5
The negative index of e is : -4
The negative index of l is : -3
The negative index of l is : -2
The negative index of o is : -1

In [10]:
n=len(str1)
for i in range(n):
    print(f"{i-n} is negative index and {i} is positive index of {str1[i]}")

-12 is negative index and 0 is positive index of p
-11 is negative index and 1 is positive index of y
-10 is negative index and 2 is positive index of t
-9 is negative index and 3 is positive index of h
-8 is negative index and 4 is positive index of o
-7 is negative index and 5 is positive index of n
-6 is negative index and 6 is positive index of
-5 is negative index and 7 is positive index of h
-4 is negative index and 8 is positive index of e
-3 is negative index and 9 is positive index of l
-2 is negative index and 10 is positive index of l
-1 is negative index and 11 is positive index of o

**When to use range - when to use in operator**
- any problem if we work with index use range operator
- range operator will give index as well as character
- any problem if index is not useful, only character is useful then go with **in**
- with in operator we cannot get index

In [11]:
#Q4) WAP count the number of 'a' letters in a given string
#    str1="Hello python how are you"
#Q5) WAP to find the index of 'a' letters in a given string
#    str1="Hello python how are you"
#Q6) WAP to get sum of all the indexes of 'a' letters in a given string
#    str1="Hello python how are you"
#Q7) WAP to find the number of vowels in a given string
#    str1="hello how are you"
#Q8) WAP to find the non repeated vowels in a given string
#    str1="hello how are you"

In [21]:
str1 = "hello python how are you, ola ola ola"
count = 0
for i in str1:
    if i == 'a':
        count = count+1
print(f"the total 'a' are {count}")

the total 'a' are 4

In [22]:
str1 = "hello python how are you, ola ola ola"
count = 0
for i in range(len(str1)):
    if str1[i] == 'a':
        count = count+1
print(f"the total 'a' are {count}")

the total 'a' are 4

In [24]:
str1 = "hello python how are you, ola ola ola"
for i in range(len(str1)):
    if str1[i] == 'a':
        print(f"{str1[i]} has index at {i}")

a has index at 17
a has index at 28
a has index at 32
a has index at 36

In [23]:
str1 = "hello python how are you, ola ola ola"
sum = 0
for i in range(len(str1)):
    if str1[i] == 'a':
        sum = sum+1
print(f"the total sum of 'a' is {sum}")

the total sum of 'a' is 4

In [28]:
str1 = "hello python how are you, ola ola ola"
count = 0
for i in str1:
    if i in 'aeiou':
        print(i)
        count+=1
print("The number of vowels are:", count)

e
o
o
o
a
e
o
u
o
a
o
a
o
a
The number of vowels are: 14

In [30]:
#Q8) 
# take empty string s1=''
# take another vowel string s2='aeiou'
# iterate each letter in s2
# con1 = the letter in s2
# con2 = the letter not in s1
# than that is our desired vowel them immediately push that letter into s1
# s1=s1+<Letter>
# every vowel should come but we need to avoid the repetition
s1 =  ''
s2 = 'hello how are you'
for i in str1:
    if i in s2 and i not in s1:
        print(i)
        s1=s1+i
        count=count+1
print("The total count is:", count)

h
e
l
o

y
w
a
r
u
The total count is: 34

In [32]:
# Slicing
# methods strings
# functions
# strings === list 
str2='ABCD1234567'
reversed(str2)