In [1]:
# Q4)  l1=['hyd','chennai','mumbai','pune']
#     ans=['Hyd','Chennai','Mumabi','Pune']
l1=['hyd','chennai','mumbai','pune']
ans=[]
for i in l1:
    ans.append(i.capitalize())
ans

['Hyd', 'Chennai', 'Mumbai', 'Pune']

In [2]:
#Q5)  l1=['hyd','chennai','mumbai','pune']
#     ans=['HYD','CHENNAI','MUMBAI','PUNE']
l1=['hyd','chennai','mumbai','pune']
ans=[]
for i in l1:
    ans.append(i.upper())
ans

['HYD', 'CHENNAI', 'MUMBAI', 'PUNE']

In [4]:
#Q6)  l1=['hyd','chen#ai','mu#bai','pune']
#     ans=['chen#ai','mu#bai']
l1=['hyd','chen#ai','mu#bai','pune']
ans1=[]
ans2=[]
for i in l1:
    if '#' in i:
        ans1.append(i)
    if '#' not in i:
        ans2.append(i)
ans1

['chen#ai', 'mu#bai']

In [5]:
#Q7)  l1=['hyd','chen#ai','mu#bai','pune']
#     ans=['hyd','pune']
l1=['hyd','chen#ai','mu#bai','pune']
ans1=[]
ans2=[]
for i in l1:
    if '#' in i:
        ans1.append(i)
    if '#' not in i:
        ans2.append(i)
ans2

['hyd', 'pune']

In [6]:
#Q8) str1= 'hello hai how are you'
#    ans=['Hello','Hai','How','Are','You']

str1= 'hello hai how are you'
str1.title().split()

['Hello', 'Hai', 'How', 'Are', 'You']

In [7]:
# Question-9
str1='virat.kohli@rcb.com; rohit.sharma@mi.com; dhoni.ms@csk.com'
l=str1.split(';')
f_name,s_name,c_name=[],[],[]
for i in l:
    first_dot=i.find('.')
    second_dot=i.find('.',first_dot+1)
    at_index=i.find('@')
    f_name.append(i[:first_dot])
    s_name.append(i[first_dot+1:at_index])
    c_name.append(i[at_index+1:second_dot])

In [9]:
f_name

['virat', ' rohit', ' dhoni']

In [10]:
s_name

['kohli', 'sharma', 'ms']

In [11]:
c_name

['rcb', 'mi', 'csk']

In [12]:
# q10) get the 7 random numbers in a list between 1 to 100
#      find the min and max value with out using min and max function

import random

l=[]
for i in range(7):
    num=random.randint(1,100)
    l.append(num)

l

[62, 23, 13, 71, 71, 72, 60]

In [13]:
# q11) str1='can canner can not can you canner can be can you can not'
#      list=['can-6','canner-2','not-2','you-2','be-1']

str1='can canner can not can you canner can be can you can not'
l=str1.split()
print(l)

l2=[]
for i in l:
    if i not in l2:
        print(i,l.count(i))
        l2.append(i)

['can', 'canner', 'can', 'not', 'can', 'you', 'canner', 'can', 'be', 'can', 'you', 'can', 'not']
can 6
canner 2
not 2
you 2
be 1

In [15]:
# Question-12
qns= ['who is pm of india: ','who is ICT captain: ','what is the capital of india: ']
ans=['modi','rohit','delhi']
count=0
for i in range(len(qns)):
    ANSWER=input(qns[i])
    if ANSWER.lower()==ans[i].lower():
        count=count+1
print("The total correct answers:",count)

who is pm of india: modi
who is ICT captain: rohit
what is the capital of india: delhi
The total correct answers: 3